<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul *ngFor="let item of navItem; index as i" [ngClass]="{'active': eleVal === i}">
                <li class="navfield-{{i}}">
                    <span *ngIf="item.isShow">
                        <img src="../../../assets/icons/Phone_Image.png" height="30" width="30">
                    </span>
                    <a routerlink="{{\'item.link'}}" (click)="activeEle(i)">{{item.field}}</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>
